@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assurez-vous que le HTML et le Body ont une hauteur de 100% */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
   
  }



html {
    scroll-behavior:smooth;
  } 
  

/*comment*/

/* Rotation Animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-rotate {
    animation: rotate 20s linear infinite;
    transform-origin: center center;
}

/* Slide Left to Right Animation */
@keyframes slide-left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-slide-left-to-right {
    animation: slide-left-to-right 20s linear infinite;
}


/*Login*/

/* CSS for Animation and Styling */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    background-image: url('path/to/sports-background.jpg'); /* Replace with your sports image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease-out;
}

.login-box h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


/*register*/

/* Add this to your global CSS file or inline styles */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .slide-in-left {
    animation: slideInFromLeft 0.5s ease-out;
  }
  

/*cliet*/

.animate-scroll {
    display: flex;
    animation: scroll 30s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}